.navigation {
	a {
		display: block;
	}
}

.navigation-horizontal {
	& > ul {
		@include clearfix;
	}

	& > ul > li {
		float: left;
		padding: 0 5px;
	}
}

.navigation-vertical {
	& > ul > li {
		display: block;
	}
}