// ---------------------------------------------------------------------------------------------------------------------
// Colors
$grey-dark: 		#333 !default;
$grey-darker: 	#666 !default;
$grey: 					#999 !default;
$grey-lighter: 	#ccc !default;
$grey-light: 		#eee !default;


$white: 	#fff;
$black:		#000;

$color-brand: 			#189cde;
$color-brand-dark: 	#1589c3;

// ---------------------------------------------------------------------------------------------------------------------
// Fonts
$font-default: 				'Times New', serif !default;
$font-default-size:		13px !default;
$font-default-color:	$grey-dark !default;

// ---------------------------------------------------------------------------------------------------------------------
// Grid
$grid-columns: 			12 !default;
$grid-gutter-width: 20px !default;

// ---------------------------------------------------------------------------------------------------------------------
$border-radius-default:	2px;