// ---------------------------------------------------------------------------------------------------------------------
// Colors
$grey-dark: 		#333 !default;
$grey-darker: 	#666 !default;
$grey: 					#999 !default;
$grey-lighter: 	#ccc !default;
$grey-light: 		#eee !default;


$white: 	#fff;
$black:		#000;

$color-brand: 			#189cde;
$color-brand-dark: 	#1589c3;

// ---------------------------------------------------------------------------------------------------------------------
// Fonts
$font-default: 				'Times New', serif !default;
$font-default-size:		13px !default;
$font-default-color:	$grey-dark !default;

$font-heading-family: $font-default !default;
$font-heading-color: 	$font-default-color !default;

$font-heading-h1: 52px !default;
$font-heading-h2: 34px !default;
$font-heading-h3: 24px !default;
$font-heading-h4: 18px !default;

// ---------------------------------------------------------------------------------------------------------------------
// Grid
$grid-columns: 12 !default;
$grid-gutter-width: 30px !default;

// ---------------------------------------------------------------------------------------------------------------------
// Transition
$transition-base-duration: 0.3s;
$transition-base-function: ease;

// ---------------------------------------------------------------------------------------------------------------------
$border-radius-default:	2px;