// Import
// ---------------------------------------------------------------------------------------------------------------------
@import 'variables';
@import 'mixins';
@import 'normalize';
@import 'grid';
@import 'form';
@import 'navigation';
@import 'scaffolding';
@import 'csc';

// Layout
// ---------------------------------------------------------------------------------------------------------------------
.outer {
	max-width: 100%;
	overflow-x: hidden;
}

.inner {
	& {
		margin: 0 auto;
	}

	&.indent-normal {
		max-width: 980px;
	}

	&.indent-small {
		max-width: 640px;
	}
}

// Messages
// ---------------------------------------------------------------------------------------------------------------------
.message {
	& {
		margin: 10px 0 0 0;
		padding: 5px;
		background: $grey;
		color: $white;
	}

	li:before {
		border-color: $white;
	}

	ul:first-child, ul:first-child > li:first-child, p:first-child {
		margin-top: 0;
	}

	p {
		padding: 0 10px;
	}
}

// Listen
// ---------------------------------------------------------------------------------------------------------------------
.list-container {
	& {
		list-style: none;
	}

	& > li {
		& {
			padding: 10px 0;
			border-top: 1px solid $grey-light;
		}

		&:before {
			display: none;
		}
	}

	& > li:first-child {
		padding: 0 0 10px 0;
		border: 0;
	}

	& > li:last-child {
		padding: 10px 0 0 0;
	}
}