// Import
// ---------------------------------------------------------------------------------------------------------------------
@import 'variables';
@import 'mixins';
@import 'normalize';
@import 'grid';
@import 'form';
@import 'navigation';
@import 'scaffolding';
@import 'csc';

// Layout
// ---------------------------------------------------------------------------------------------------------------------
.outer {
	max-width: 100%;
	overflow-x: hidden;
}

.inner {
	& {
		margin: 0 auto;
	}

	&.indent-normal {
		max-width: 980px;
	}

	&.indent-small {
		max-width: 640px;
	}
}